.colection {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p {
        font-weight: 200;
        font-size: 1.5rem;
    }

    h1 {
        font-size: 3rem;
        color: #be3c15;
        text-align: center;
    }
}

.table {
    border: 1px solid rgba(255, 255, 255, 0.05);
    margin: 1rem auto;
    padding: 1rem;
    width: 100%;
    max-width: 45rem !important;

    td {
        font-family: "Zilla Slab Highlight", cursive;
        font-size: 1.5rem;
        font-weight: bold;
        cursor: pointer;
        user-select: none;
        color: #f0f0f0a8;

        &:hover {
            color: #cc4c25a6;
        }
    }

    h3 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #be3c15;
        font-size: 2.75rem;

        span {
            font-weight: 100;
            font-size: 0.85rem;
            color: #f0f0f0;
        }
    }

    button {
        font-size: 1.5rem;
        font-weight: 300;
        font-family: "Londrina Solid", cursive;
        border-radius: 1rem;
    }

    .btn-ctrl {
        display: flex;
        justify-content: flex-end;
    }
}

.head {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@media (max-width: 480px) {
    .colection {
        padding: .5rem;
    
        p {
            font-weight: 300;
            font-size: 1rem;
        }
    
        h1 {
            font-size: 2.25rem;
            margin: 1rem .5rem;
        }
    }
}
