<div class="colection" *ngIf="element !== null">

    <p><span>{{ title }} of {{name}} :</span></p>
    <h1> {{elementName}}</h1>

    <div class="head">
        <app-search-form (onSearchClick)="onSearch($event)"></app-search-form>
        <app-pagination [total]="element.total" [offset]="element.offset" [page]="page" [limit]="element.limit"
            (changePageClick)="pageUpOrDown($event)">
        </app-pagination>
    </div>

    <div class="table" *ngIf="!isWaiting">
        <h3>
            {{ title }}
        </h3>
        <table>
            <tr *ngFor="let item of element.results">
                <td (click)="link(item.id)">{{ item?.name }} {{ item?.title }}</td>
                <!-- <td *ngIf="item.type !== ''">{{ item.type }}</td> -->
            </tr>
        </table>
    </div>
</div>
<app-wait-animation *ngIf="isWaiting"></app-wait-animation>