<h4>Personnages</h4>

<div class="single" *ngIf="character !== null && !isWaiting">

    <div class="single-header">
        <h1>{{ character.name }}</h1>
        <span *ngIf="character.modified !== ''">{{ checkDate(character.modified) | date }}</span>

        <div class="single-image">
            <img class="star" src="assets/stars.png" alt="etoile rouge">
            <img src="{{ character.thumbnail.path + '.' + character.thumbnail.extension }}" alt="">
        </div>
        
        <p class="description" *ngIf="character.description !== ''" [innerHTML]="character.description"></p>
    </div>

    <div class="single-body">

        <!-- Lists -->
        <div>
            <app-table-view *ngIf="character.comics.returned > 0" [elements]="character.comics" [title]="listTitle[0]" [elementName]="character.name"></app-table-view>
            <app-table-view *ngIf="character.series.returned > 0" [elements]="character.series" [title]="listTitle[1]" [elementName]="character.name"></app-table-view>
            <app-table-view *ngIf="character.stories.returned > 0" [elements]="character.stories" [title]="listTitle[2]" [elementName]="character.name"></app-table-view>
            <app-table-view *ngIf="character.events.returned > 0" [elements]="character.events" [title]="listTitle[3]" [elementName]="character.name"></app-table-view>
        </div>

    </div>

    <!-- Footer -->
    <app-footer-links [urls]="character.urls"></app-footer-links>

</div>

<app-wait-animation *ngIf="isWaiting"></app-wait-animation>

<div class="error" *ngIf="error !== ''">
    Aucun personnage trouvé ...
</div>