.single-image {
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    position: relative;
    img {
        max-width: 40rem;
        max-height: 40rem;
        width: 100%;
        height: 100%;
        animation: turn 0.4s ease-in forwards;
        &:nth-child(2) {
            max-width: 25rem;
            border-radius: 10%;
            border: 5px solid #9b2c0ada;
        }
    }
    .star {
        position: absolute;
        height: 100%;
        height: 30rem;
        width: 60rem !important;
        top: -3rem;
        z-index: -1;
        opacity: .5;
    }
}

@keyframes turn {
    0% {
        opacity: 0;
        width: 10rem;
        transform: rotate(-720deg);
    }
    100% {
        transform: rotate(0deg);
    }
}