.comic-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1.5rem;
    flex: 1;

    .thumbnail {
        max-width: 10rem;
        // height: 10rem;
        margin-right: 1.5rem;
        box-shadow: -15px 15px 5px #ffffff13;
        
        img {
            width: 100%;
            height: 100%;
        }
    }

    .infos {
        margin: 2rem .5rem 1rem .5rem; 
        font-size: 1.25rem;       
        div {
            margin: .75rem auto;
            display: flex;
        }
        span {
            color: #db5932;
            margin-right: .5rem;
        }
    }
}

h2 {
    margin-bottom: 1rem;
}

.text-objects {
    max-width: 40rem;
    margin: auto;
    padding: 3rem 1rem;

    h2 {
        font-weight: 300;
        color: #ececec;
    }

    div {
        font-size: 1.25rem;
        font-weight: 300;
        background: #242424;
        padding: 1rem;
        p:nth-child(3) {
            letter-spacing: .075rem;
            font-weight: 200;
            margin-top: .75rem;
        } 
        span {
            color: #db5932;
            margin-right: .5rem;
        }
    }
}

@media (max-width: 768px) {
    .comic-header {    
        flex-direction: column;
        .thumbnail {
            margin-right: 0;
            box-shadow: 0px 0px 15px #ffffff31;
        }
        .infos {
            text-align: center;
            div {
                justify-content: center;
            }
        }
    }
}