<h4>Comics</h4>

<div class="single" *ngIf="comic !== null && !isWaiting">    
    <h1>{{ comic.title }}</h1>

    <div class="comic-header">

        <div class="thumbnail">
            <img src="{{ comic.thumbnail.path + '.' + comic.thumbnail.extension }}" alt="{{ comic.title }}">
        </div>

        <div class="infos">
            <div *ngIf="comic.format !== ''"><span>Format :</span>{{ comic.format }}</div>
            <div *ngIf="comic.pageCount !== null"><span>Pages :</span>{{ comic.pageCount }}</div>
                <div *ngFor="let com of comic.prices"><span>{{ com.type | titlecase }} :</span> {{ com.price }}</div>
            <div *ngIf="comic.modified !== ''"><span>Modified :</span>{{ checkDate(comic.modified) | date }}</div>
            <div *ngFor="let date of comic.dates">
                <span>{{ date.type | titlecase }}</span>{{ checkDate(date.date) | date }}
            </div>
            <div *ngIf="comic.isbn !== ''"><span>Isbn :</span>{{ comic.isbn }}</div>
            <div *ngIf="comic.upc !== ''"><span>Upc :</span>{{ comic.upc }}</div>
            <div *ngIf="comic.diamondCode !== ''"><span>Diamond-Code :</span>{{ comic.diamondCode }}</div>
        </div>

    </div>

    <div class="description" *ngIf="comic.description !== null">
        <h2>Description</h2>
        <p [innerHTML]="comic.description"></p>
    </div>
    
    <div class="image-slider" *ngIf="comic.images.length > 0">
        <app-img-slider [images]="comic.images"></app-img-slider>
    </div>

    <div class="text-objects" *ngIf="comic.textObjects.length > 0">
        <h2>Textes descriptifs d’estompe :</h2>
        <div *ngFor="let text of comic.textObjects">
            <p><span>Type</span>{{text.type}}</p>
            <p><span>Langue</span>{{text.language}}</p>
            <p [innerHTML]="text.text"></p>
        </div>
    </div>

    <app-table-view *ngIf="comic.characters.returned > 0" [elements]="comic.characters" [title]="listTitle[0]" [elementName]="comic.title"></app-table-view>
    <app-table-view *ngIf="comic.creators.returned > 0" [elements]="comic.creators" [title]="listTitle[1]" [elementName]="comic.title"></app-table-view>
    <app-table-view *ngIf="comic.series.returned > 0" [elements]="comic.series" [title]="listTitle[2]" [elementName]="comic.title"></app-table-view>
    <app-table-view *ngIf="comic.stories.returned > 0" [elements]="comic.stories" [title]="listTitle[3]" [elementName]="comic.title"></app-table-view>
    <app-table-view *ngIf="comic.events.returned > 0" [elements]="comic.events" [title]="listTitle[4]" [elementName]="comic.title"></app-table-view>

    <!-- Footer -->
    <app-footer-links [urls]="comic.urls"></app-footer-links>

</div>

<app-wait-animation *ngIf="isWaiting"></app-wait-animation>

<div class="error" *ngIf="error !== ''">
    Aucun personnage trouvé ...
</div>