.serie-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1.5rem 1.5rem 1.5rem;
    flex: 1;

    .thumbnail {
        max-width: 20rem;
        margin-right: 1.5rem;
        box-shadow: -15px 15px 5px #ffffff13;
        
        img {
            width: 100%;
            height: 100%;
        }
    }

    .infos {
        margin: .5rem; 
        font-size: 1.25rem;       
        div {
            margin: .75rem auto;
            display: flex;
        }
        span {
            color: #db5932;
            margin-right: .5rem;
        }
    }
}

@media (max-width: 768px) {
    .serie-header {    
        flex-direction: column;
        .thumbnail {
            margin-right: 0;
            box-shadow: 0px 0px 15px #ffffff31;
        }
        .infos {
            text-align: center;
            div {
                justify-content: center;
            }
        }
    }
    .navigate {
        .prev, .next {
            font-size: 4vw;
        }
    }
}