<h4>Series</h4>

<div class="single" *ngIf="serie !== null && !isWaiting">

    <h1>{{ serie.title }}</h1>

    <div class="serie-header">

        <div class="thumbnail">
            <img src="{{ serie.thumbnail.path + '.' + serie.thumbnail.extension }}" alt="{{ serie.title }}">
        </div>

        <div class="infos">
            <div *ngIf="serie.type !== ''"><span>Type :</span>{{ serie.type }}</div>
            <div *ngIf="serie.startYear !== ''"><span>Demarrage :</span>{{ serie.startYear }}</div>
            <div *ngIf="serie.endYear !== ''"><span>Fin :</span>{{ serie.endYear }}</div>
            <div *ngIf="serie.rating !== ''"><span>Note :</span>{{ serie.rating }}</div>
            <div *ngIf="serie.modified !== ''"><span>Date :</span>{{ checkDate(serie.modified) | date }}</div>
            <div *ngFor="let date of serie.dates"><span>{{ date.type | titlecase }}</span> {{ checkDate(date.date) | date }}</div>
        </div>

    </div>

    <div class="serie-body">

        <div class="description" *ngIf="serie.description !== null">
            <h2>Description</h2>
            <p [innerHTML]="serie.description"></p>
        </div>

        <div class="lists">
            <!-- List -->
            <app-table-view *ngIf="serie.characters.returned > 0" [elements]="serie.characters" [title]="listTitle[0]" [elementName]="serie.title"></app-table-view>
            <app-table-view *ngIf="serie.comics.returned > 0" [elements]="serie.comics" [title]="listTitle[1]" [elementName]="serie.title"></app-table-view>
            <app-table-view *ngIf="serie.creators.returned > 0" [elements]="serie.creators" [title]="listTitle[2]" [elementName]="serie.title"></app-table-view>
            <app-table-view *ngIf="serie.stories.returned > 0" [elements]="serie.stories" [title]="listTitle[3]" [elementName]="serie.title"></app-table-view>
            <app-table-view *ngIf="serie.events.returned > 0" [elements]="serie.events" [title]="listTitle[4]" [elementName]="serie.title"></app-table-view>
        </div>

    </div>

    <!-- Footer -->
    <app-footer-links [urls]="serie.urls"></app-footer-links>

</div>

<app-wait-animation *ngIf="isWaiting"></app-wait-animation>

<div class="error" *ngIf="error !== ''">
    Aucun personnage trouvé ...
</div>