<h4>Createurs</h4>

<div class="single" *ngIf="creator !== null && !isWaiting">

    <div class="creator-header">

        <h1>{{ creator.fullName }}</h1>        
        
        <div class="thumbnail">
            <img src="{{ creator.thumbnail.path + '.' + creator.thumbnail.extension }}" alt="{{ creator.fullName }}">
        </div>

        <div class="infos">
            <p><span>modified :</span> {{ checkDate(creator.modified) | date }}</p>
            <p *ngIf="creator.middleName !== ''"><span>middleName :</span> {{ creator.middleName }}</p>
        </div>

    </div>

    <div class="creator-body">
        <div class="lists">
            <!-- Lists -->
            <app-table-view *ngIf="creator.comics.returned > 0" [elements]="creator.comics" [title]="listTitle[0]" [elementName]="creator.fullName"></app-table-view>
            <app-table-view *ngIf="creator.series.returned > 0" [elements]="creator.series" [title]="listTitle[1]" [elementName]="creator.fullName"></app-table-view>
            <app-table-view *ngIf="creator.stories.returned > 0" [elements]="creator.stories" [title]="listTitle[2]" [elementName]="creator.fullName"></app-table-view>
            <app-table-view *ngIf="creator.events.returned > 0" [elements]="creator.events" [title]="listTitle[3]" [elementName]="creator.fullName"></app-table-view>
        </div>
    </div>

    <!-- Footer -->
    <app-footer-links [urls]="creator.urls"></app-footer-links>

</div>

<app-wait-animation *ngIf="isWaiting"></app-wait-animation>

<div class="error" *ngIf="error !== ''">
    Aucun personnage trouvé ...
</div>