.creator-header {
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        font-size: 2.75rem;
    }

    .infos {
        margin: 0.75rem;
        span {
            color: #a5a5a5;
        }
    }

    .thumbnail {
        margin: 0 2rem;
        
        img {
            border-radius: 10%;
            border: 5px solid #9b2c0ada;
            width: 100%;
            height: 100%;
            max-height: 30rem;
        }
    }
}
