<div class="anim-container">
    <h3>
        <p>WAIT</p>
        <p>...</p>
    </h3>
    <div><span></span></div>
    <div><span></span></div>
    <div><span></span></div>
    <div><span></span></div>
    <div><span></span></div>
    <div><span></span></div>
    <div><span></span></div>
    <div><span></span></div>
</div>