.anim-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    position: relative;
    height: 20rem;
    max-width: 10rem;
    width: 100%;

    h3 {
        text-align: center;
        color: #ce3b0ee7;
        letter-spacing: .2rem;
        font-size: 2rem;
        font-weight: 400;
        animation: txtFade 4s ease-in-out infinite;
        text-shadow: 0 0 150px #fff, 0 0 100px #ffffffa6, 0 0 50px #ffffff88;
    }

    div {
        height: 8rem;
        width: 100%;
        position: absolute;
        animation: waiting 2s ease-out infinite;  
        opacity: 0;

        span {
            display: block;
            height: 1rem;
            width: 1rem;
            border-radius: 50%;
            border: 1px solid #ce3b0e;
            animation: fade 2s ease-in-out infinite;
        }
    }

}

@for $i from 1 to 8 {
    .anim-container div:nth-child(#{$i}) { animation-delay: $i * 0.15s; }
}

@keyframes waiting {
    0% { transform: rotate(0); opacity: 1; }
    50% { opacity: 1; }
    100% { transform: rotate(360deg); opacity: 0; }
}
@keyframes fade {
    0% { background: #ce3b0e; }
    75% { background: none; }
    100% { background: #ce3b0e; }
}

@keyframes txtFade {
    0% { opacity: 1 }
    75% { opacity: 0 }
    100% { opacity: 1 }
}

