.card-footer {
    text-align: center;
    font-size: 1.5rem;
    padding: 0.5rem 1rem;

    .links {
        display: flex;
        justify-content: center;
        a {
            width: 33%;
        }
    }
}