<h4>Evénements</h4>

<div class="single" *ngIf="event !== null && !isWaiting">

    <div class="navigate">
        <div *ngIf="event.previous !== null" (click)="goToEvent(event.previous.resourceURI)" class="btn prev">{{ event.previous.name }}<span>◀</span></div>
        <div *ngIf="event.next !== null" (click)="goToEvent(event.next.resourceURI)" class="btn next">{{ event.next.name }}<span>▶</span></div>
    </div>

    <h1>{{ event.title }}</h1>

    <div class="event-header">

        <div class="thumbnail">
            <img src="{{ event.thumbnail.path + '.' + event.thumbnail.extension }}" alt="{{ event.title }}">
        </div>

        <div class="infos">
            <div *ngIf="event.start !== ''"><span>Demarrage :</span>{{ checkDate(event.start) | date }}</div>
            <div *ngIf="event.end !== ''"><span>Fin :</span>{{ checkDate(event.end) | date }}</div>
            <div *ngIf="event.modified !== ''"><span>Date :</span>{{ checkDate(event.modified) | date }}</div>
            <div *ngFor="let date of event.dates"><span>{{ date.type | titlecase }}</span> {{ checkDate(date.date) | date }}</div>
        </div>

    </div>

    <div class="description">
        <h2>Description</h2>
        <p [innerHTML]="event.description"></p>
    </div>

    <div class="event-body">    

        <div class="lists">
            <app-table-view *ngIf="event.characters.returned > 0" [elements]="event.characters" [title]="listTitle[0]" [elementName]="event.title"></app-table-view>
            <app-table-view *ngIf="event.comics.returned > 0" [elements]="event.comics" [title]="listTitle[1]" [elementName]="event.title"></app-table-view>
            <app-table-view *ngIf="event.creators.returned > 0" [elements]="event.creators" [title]="listTitle[2]" [elementName]="event.title"></app-table-view>
            <app-table-view *ngIf="event.series.returned > 0" [elements]="event.series" [title]="listTitle[3]" [elementName]="event.title"></app-table-view>
            <app-table-view *ngIf="event.stories.returned > 0" [elements]="event.stories" [title]="listTitle[4]" [elementName]="event.title"></app-table-view>
        </div>

    </div>

    <!-- Footer -->
    <app-footer-links [urls]="event.urls"></app-footer-links>

</div>

<app-wait-animation *ngIf="isWaiting"></app-wait-animation>

<div class="error" *ngIf="error !== ''">
    Aucun personnage trouvé ...
</div>