.grid-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;

    .grid {
        width: 15rem;
        margin: 1.5rem;
        cursor: pointer;

        h3 {
            text-align: center;
            transition: 0.2s;
            color: #d84a1f;
        }
        .thumbnail {
            width: 15rem;
            height: 15rem;
            overflow: hidden;
            transform-origin: center;

            img {
                width: 100%;
                height: 100%;
                transition: 0.4s;
                filter: grayscale(.5);
                user-select: none;

                &:hover {
                    transform: scale(1.1);
                    filter: grayscale(0);
                }
            }
        }
        &:hover {
            h3 {
                color: #fff;
            }
        }
    }
}