<div class="grid-container" *ngIf="allElements !== []">
    <div *ngFor="let element of allElements" class="grid" (click)="viewDetail(element.id)">
        <h3>{{ element?.name | uppercase }}</h3>
        <h3>{{ element?.title | uppercase }}</h3>
        <h3>{{ element?.fullName | uppercase }}</h3>
        <div class="thumbnail" *ngIf="element.thumbnail !== null">
            <img 
                src="{{ element.thumbnail.path + '.' + element.thumbnail.extension }}"
                alt="photo de l'element marvel {{ element?.name || element?.title  || element?.fullName  }}"
            >
            {{ element.thumbnail.path }}
        </div>
    </div>
</div>