<div class="list-title">
    <h1>Series</h1>

    <!-- Pagination -->
    <app-pagination [total]="total" [offset]="offset" [page]="page" [limit]="limit"
        (changePageClick)="pageUpOrDown($event)">        
    </app-pagination>     
    
    <!-- Recherche -->
    <app-search-form [componentName]="name" (onSearchClick)="onSearch($event)"></app-search-form>
    
</div>

<app-wait-animation *ngIf="isWaiting"></app-wait-animation>

<!-- List -->
<app-list-view *ngIf="!isWaiting" [allElements]="allSeries" (viewDetails)="viewDetail($event)"></app-list-view>

<div class="error" *ngIf="allSeries === []">
    Erreur de connexion ...
</div>

