.storie-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    max-width: 42rem;
    margin: auto;
    padding-top: 5rem;    
    letter-spacing: .05rem;
    font-weight: 300;

    span {
        margin: 0 .25rem;
        color: #f0f0f075;
    }
}

.infos {
    margin: .5rem; 
    font-size: 1.5rem;       
    padding: 5rem .5rem;

    div {
        margin: .75rem auto;
        display: flex;
        color: #f0f0f0e8;
    }
    span {
        color: #db5932;
        margin-right: .5rem;
    }
}