<h4>Histoires</h4>

<div class="single" *ngIf="storie !== null && !isWaiting">

    <h1><span>&bdquo;</span>{{ storie.title }}<span>&ldquo;</span></h1>

    <div class="storie-header">

        <div class="thumbnail" *ngIf="storie.thumbnail !== null">
            <img src="{{ storie.thumbnail.path + '.' + storie.thumbnail.extension }}" alt="{{ storie.title }}">
        </div>

        <div class="infos">
            <div *ngIf="storie.type !== ''"><span>Type :</span>{{ storie.type }}</div>
            <div *ngIf="storie.modified !== ''"><span>Date :</span>{{ checkDate(storie.modified) | date }}</div>
            <span>Link to comic :</span>
            <div *ngIf="storie.originalIssue.name !== ''">
                <a class="btn" (click)="goToComic(storie.originalIssue.resourceURI)">{{storie.originalIssue.name}}</a>
            </div>

        </div>

    </div>

    <div class="storie-body">

        <div class="description" *ngIf="storie.description !== ''">
            <h2>Description</h2>
            <p [innerHTML]="storie.description"></p>
        </div>

        <div class="lists">
            <!-- List -->
            <app-table-view *ngIf="storie.creators.returned > 0" [elements]="storie.creators" [title]="listTitle[0]"></app-table-view>
            <app-table-view *ngIf="storie.characters.returned > 0" [elements]="storie.characters" [title]="listTitle[1]"></app-table-view>
            <app-table-view *ngIf="storie.series.returned > 0" [elements]="storie.series" [title]="listTitle[2]"></app-table-view>
            <app-table-view *ngIf="storie.comics.returned > 0" [elements]="storie.comics" [title]="listTitle[3]"></app-table-view>
            <app-table-view *ngIf="storie.events.returned > 0" [elements]="storie.events" [title]="listTitle[4]"></app-table-view>
        </div>

    </div>

    <!-- Footer -->
    <app-footer-links [urls]="storie.urls"></app-footer-links>

</div>

<app-wait-animation *ngIf="isWaiting"></app-wait-animation>

<div class="error" *ngIf="error !== ''">
    Aucun personnage trouvé ...
</div>