.header-links {
    display: flex;
}
.btn-menu {
    display: none;
    position: absolute;
    top: 0.75rem;
    right: 1rem;
    color: #f0f0f0;
}

@media (max-width: 980px) {
    .header-links {
        display: none;
    }
    .btn-menu {
        display: block;
    }
    .reponsive {
        display: block;
        flex-direction: column;

        .header-links {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: 0 1rem;
            height: 100vh;
            a {
                margin: 1rem;
                font-size: 2rem;
            }
        }
    }
}

.arrow-up {
    display: block;
    background: #9b2c0a;
    color: #f0f0f0;
    width: 3rem;
    height: 3rem;
    display: grid;
    place-items: center;
    font-size: 2.5rem;
    border-radius: 50%;
    cursor: pointer;
    user-select: none;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    z-index: 1000;

    &:hover {
        filter: brightness(1.1);
    }
}

.show-btn {
    display: none;
    transition: all 0.2s ease-in-out;
}

.active {
    filter: brightness(1.5);
    color: #1a1a1a;
    border-radius: .5rem;
}