<header [class.reponsive]="isHide">
  <a routerLink="/" class="title">
      <h2>Marvel</h2>
  </a>
  <a (click)="toggleMenu()" class="btn btn-menu">
    {{ isHide ? 'Fermer' : 'Menu'}}
  </a>
  <div class="header-links">
    <a routerLink="characters" (click)="isHide = false" class="btn" routerLinkActive="active">Personnages</a>
    <a routerLink="comics" (click)="isHide = false" class="btn" routerLinkActive="active">Comics</a>
    <a routerLink="creators" (click)="isHide = false" class="btn" routerLinkActive="active">Createurs</a>
    <a routerLink="series" (click)="isHide = false" class="btn" routerLinkActive="active">Series</a>
    <a routerLink="events" (click)="isHide = false" class="btn" routerLinkActive="active">Evénements</a>
    <a routerLink="stories" (click)="isHide = false" class="btn" routerLinkActive="active">Histoires</a>
  </div>
</header>

<div class="arrow-up" (click)="scrollToTop()" [class.show-btn]="!windowScrolled">▲</div>

<div class="container">
  <router-outlet></router-outlet>
</div>

<footer>
  &copy; MarvelApi, Call by RSylv 2021
  <p>Data provided by Marvel. © 2021 MARVEL</p>
</footer>