.table {
    border: 1px solid rgba(255, 255, 255, 0.05);
    margin: 1rem auto;
    padding: 1rem;
    width: 100%;
    max-width: 45rem !important;

    td {
        font-family: "Zilla Slab Highlight", cursive;
        font-size: 1.5rem;
        font-weight: bold;
        cursor: pointer;
        user-select: none;
        color: #f0f0f0a8;

        &:hover {
            color: #cc4c25a6;
        }
    }

    h3 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #be3c15;
        font-size: 2.75rem;

        span {
            font-weight: 100;
            font-size: 0.85rem;
            color: #f0f0f0;
        }
    }

    button {
        font-size: 1.5rem;
        font-weight: 300;
        font-family: "Londrina Solid", cursive;
        border-radius: 1rem;
        
    }

    .btn-ctrl {
        display: flex;
        justify-content: flex-end;
    }
}
