<div class="table">
    <h3>
        {{ title }}
        <span>{{ elements?.returned }} / {{ elements?.available }}</span>
    </h3>
    <div class="btn-ctrl" *ngIf="elements.available > elements.returned">
        <button class="btn" (click)="fullCollection(elements.collectionURI)">Full Collection</button>
    </div>
    <table>
        <tr *ngFor="let item of elements.items">
            <td (click)="link(getIdOfUrl(item.resourceURI))">{{ item.name }}</td>
            <td *ngIf="item.type !== ''">{{ item.type }}</td>
        </tr>
    </table>    
</div>