/* You can add global styles to this file, and also import other style files */
$primary: #9b2c0a;

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*::selection {
    color: #fff;
    background-color: #9b2c0ada;
}
body {
    font-family: "Londrina Solid", cursive;
    background: #050505;
    color: #fff;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.5rem;
    background: #111111f6;
    position: sticky;
    top:0;
    z-index: 1000;
}

footer {
    text-align: center;
    background: #111111cc;
    color: #fff;
    padding: 1.5rem 0.5rem;
}

.container {
    margin: auto;
    max-width: 75rem;
    width: 100%;
    min-height: 85vh;
    overflow: hidden;
}

.title {
    color: $primary;
    text-decoration: none;
    cursor: pointer;
    user-select: none;
    font-size: 2rem;
}

.btn {
    display: block;
    text-decoration: none;
    color: #fff;
    background: $primary;
    border: none;
    padding: 0.25rem 0.75rem;
    cursor: pointer;
    user-select: none;
    font-size: 1.5rem;
    margin: 0.25rem;
    transition: .3s;

    &:hover {
        filter: brightness(1.1);
    }
}

.btn.outlined {
    color: $primary;
    background: none;
    border: 1px solid $primary;

    &:hover {
        color: #fff;
        background: $primary;
    }
}


// LAYOUT

// List
.list-title {
    text-align: center;
    display: grid;
    grid-gap: .5rem;
    width: 100%;
    // height: 15rem;
    grid-template-areas: "a a" "b c";
    padding: .25rem .25rem 1.5rem .25rem;
    h1 {
        grid-area: a;
        color: #d84a1f;
        font-size: 2.5rem;
    }
    app-pagination {
        grid-area: c;
    }
    app-search-form {
        grid-area: b;
        display: flex;
        justify-content: flex-end;
    }
}

// Single
h4 {
    text-align: center;
    margin-top: 1rem;
    font-size: 2rem;
    letter-spacing: .05rem;
    font-weight: 200;
    color: #aaaaaa;
}

.single {
    margin: 1rem;
    h1 {
        padding: 1.5rem .5rem;
        text-align: center;
        color: #d84a1f;
    }
}

.single-header {
    text-align: center;
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
}

.description {
    padding: 5rem;
    font-weight: 100;
    letter-spacing: 0.15rem;
    font-size: 1.25rem;
    line-height: 2rem
}

.image-slider {
    margin: auto;
    max-width: 60rem;
}

.single-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 980px) {
    .list-title {
        grid-template-areas: "a" "c" "b" ;
        app-pagination {
            display: flex;
            justify-content: center;
        }
        app-search-form {
            justify-content: center;
        }
    }
    .description {
        padding: 2.5rem 1rem;
    }
}