<div class="home">
    <h1><span>Bienvenue sur</span> {{ message }} <span>!</span></h1>
    <img class="star" src="assets/marvelHeros.png" alt="les heros de marvel">
    <p class="description">
        Baladez-vous dans les ressources, mise a disposition par Marvel.com. <br>
        Retrouvez les heros actuels, ou de votre jeunesse !
    </p>
</div>