.home {
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        span {
            color: #d84a1f;
        }
        padding: 2.5rem .5rem;
        letter-spacing: .15rem;
        text-align: center;
        font-size: 4rem;
    }
    img {
        height: auto;
        width: 100%;
        max-width: 30rem;
    }
    p {
        text-align: center;
    }
}