<div class="infos">
    <p><span>Total Found:</span> {{ total }}</p>
    <p><span>Results:</span> {{ offset }} / {{ offset + limit > total ? total : offset + limit }}</p>
    <p class="page"><span>pages</span> {{page}} / {{ getPage(total, limit) }}</p>
</div>

<div class="page-up" *ngIf="limit <= total && offset + limit < total" (click)="pageUpOrDown(limit)"> ► </div>
<div class="page-down" *ngIf="limit <= total && offset !== 0" (click)="pageUpOrDown(-limit)"> ◄ </div>