.infos {
    text-align:left;

    p {
        margin: .15rem;
        font-weight: 300;
        letter-spacing: .075rem;
    }
    .page {
        font-size: 1.25rem;
        font-weight: 500;
        color: #db633e;
        span {
            font-weight: 200;
            color: #ffffffb9;
        }
    }
    span {
        color: #ffffffb9;
    }
}

// Arrows
.page-up, .page-down {
    position: fixed;
    top: 50%;
    transform: translateY(-50% - 50%);
    text-shadow: 0 0 5px #000;
    opacity: .75;
    z-index: 1;
    font-size: 10vw;
    border-radius: 50%;
    color: #9b2c0a; 
    cursor: pointer;
    transition: .2s;
    user-select: none;

    &:hover {
        text-shadow: 0 0 15px #000;
        filter: brightness(1.1);
        opacity: .95;
    }
}
.page-up {
    right: .5rem;
    padding-left: .35rem;
}
.page-down {
    left: .5rem;
    padding-right: .35rem;
}