<form [formGroup]="searchForm" (ngSubmit)="onSearch()">

    <div class="up">
        <!-- CHARACTERS Name -->
        <label *ngIf="componentName === 'characters'">
            <div>Nom</div>
            <input type="search" formControlName="search" placeholder="nom">
        </label>

        <!-- CREATORS Name -->
        <label *ngIf="componentName === 'creators'">
            <div>Prénom</div>
            <input type="search" formControlName="firstname" placeholder="prénom">
        </label>
        <label *ngIf="componentName === 'creators'">
            <div>Nom</div>
            <input type="search" formControlName="lastname" placeholder="nom">
        </label>

        <!-- ALL OTHER Title-->
        <label *ngIf="componentName === 'comics' || componentName === 'events'">
            <div>Titre</div>
            <input type="search" formControlName="search" placeholder="titre">
        </label>

        <!-- COMICS Format -->
        <label *ngIf="componentName === 'comics'">
            <div>Format</div>
            <select formControlName="format">
                <option *ngFor="let format of formats" value="{{format}}">{{format}}</option>
            </select>
        </label>

        <!-- SERIES Format -->
        <label *ngIf="componentName === 'series'">
            <div>Type</div>
            <select formControlName="type">
                <option *ngFor="let type of types" value="{{type}}">{{type}}</option>
            </select>
        </label>
    </div>
    
    <div class="middle">
        <!-- CHARACTERS order -->
        <label *ngIf="componentName === 'characters'">
            <div>Classement</div>
            <select formControlName="order">
                <option *ngFor="let order of orderCharacters" value="{{order.value}}">
                    {{ order.text }} {{ order.order }}
                </option>
            </select>
        </label>

        <!-- COMICS order -->
        <label *ngIf="componentName === 'comics'">
            <div>Classement</div>
            <select formControlName="order">
                <option *ngFor="let order of orderComics" value="{{order.value}}">
                    {{ order.text }} {{ order.order }}
                </option>
            </select>
        </label>

        <!-- CREATOR order -->
        <label *ngIf="componentName === 'creators'">
            <div>Classement</div>
            <select formControlName="order">
                <option *ngFor="let order of orderCreator" value="{{order.value}}">
                    {{ order.text }} {{ order.order }}
                </option>
            </select>
        </label>

        <!-- EVENTS order -->
        <label *ngIf="componentName === 'events'">
            <div>Classement</div>
            <select formControlName="order">
                <option *ngFor="let order of orderEvents" value="{{order.value}}">
                    {{ order.text }} {{ order.order }}
                </option>
            </select>
        </label>

         <!-- SERIES order -->
         <label *ngIf="componentName === 'series'">
            <div>Classement</div>
            <select formControlName="order">
                <option *ngFor="let order of orderSeries" value="{{order.value}}">
                    {{ order.text }} {{ order.order }}
                </option>
            </select>
        </label>

        <!-- STORIES order -->
        <label *ngIf="componentName === 'stories'">
            <div>Classement</div>
            <select formControlName="order">
                <option *ngFor="let order of orderStories" value="{{order.value}}">
                    {{ order.text }} {{ order.order }}
                </option>
            </select>
        </label>

    </div>

    <div class="down">
        <!-- COMON Result / Page -->
        <label>
            <div>Résultat / page</div>
            <select formControlName="limit">
                <option *ngFor="let limit of limits" value="{{limit}}">{{limit}}</option>
            </select>
        </label>

        <!-- Submit BTN -->
        <button type="submit" [disabled]="!searchForm.valid">Go</button>
    </div>

</form>