form {
    display: flex;
    padding: 0.5rem;
    background: #9b2c0a;
    width: max-content;
    border-radius: 0.25rem;

    .up,
    .middle,
    .down {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        padding-bottom: .5rem;
    }

    input,
    select {
        font-size: 1rem;
        padding: 0.25rem;
        border: none;
        margin: 0.25rem;
        border-radius: 0.25rem;
        width: min-content;

        &:focus {
            color: #252525;
        }
    }

    select {
        display: flex;
        justify-content: space-between;

        span {
            display: block;
        }
    }

    label {
        text-align: center;
        margin: 0 0.5rem;
    }
    button {
        border: 1px solid rgba(255, 255, 255, 0.445);
        background: #9b2c0a;
        color: #fff;
        font-size: 1.5rem;
        padding: 0.75rem;
        margin-left: 0.5rem;
        cursor: pointer;
        user-select: none;
        border-radius: 0.25rem;

        &:hover {
            filter: brightness(1.1);
        }
    }
}

@media (max-width: 980px) {
    form {
        width: min-content;

        input {
            width: 8rem;
        }
        label {
            margin: 0;
        }
    }
}

@media (max-width: 680px) {
    form {
        display: flex;
        flex-direction: column;
    }
}
